<div class="grid grid-cols-2 h-screen">
  <div class="bg-blue-600 flex flex-col gap-4 justify-center ps-28">
    <h1 class="text-blue-100 text-3xl font-bold">Todo Management</h1>
    <p class="max-w-md text-blue-300 text-xl">
      A todo management application is a software tool designed to help users organize and track their tasks,
      responsibilities, and goals in a systematic and efficient manner. These applications are designed to enhance
      productivity and time management by providing users with a centralized platform to create, prioritize, and manage
      their to-do lists. </p>
  </div>
  <div class="flex w-full justify-center items-center">
    <div class="w-1/2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>